.spinner {
  display:        flex;
  flex-direction: column;
  align-items:    center;
  width:          100px;
}

.spinnerIcon {
  width:         100px;
  display:       inline-block;
  margin-bottom: 8px;
}