
.header {
  margin-top: var(--space-1);
}

.textLogo {
  display:       inline;
  padding-right: 3.5rem;
  font-size:     var(--font-size-lg);
  color:         var(--text-color-gunmetal);
}

.navigationContainer {
  display:         flex;
  justify-content: space-between;
}

.navigationBoundary {
  margin-top:    0;
  margin-bottom: var(--space-3);
}
