
.maxWidthContainer {
  composes: maxWidthDesktop from "../../assets/stylesheets/index.css";
}

.mainNavigationContainer {
  display:         flex;
  align-items:     center;
  justify-content: space-between;
}

.genreTextIntro {
  font-size:     var(--font-size-lg);
  font-weight:   600;
  margin-bottom: 0;
}

.mainContentContainer {
  display:     flex;
  align-items: flex-start;
  padding-top: var(--space-3);
}

.movieCardContainer {
  width:        42.5rem;
  margin-right: var(--grid-column-gap);
  position:     relative;
}

.showMoreMovies {
  display:         flex;
  justify-content: end;
  margin:          8rem auto;
}
