
.imprint {
  display:         flex;
  justify-content: space-between;
  margin-bottom:   19rem;
}

.imprintInnerContainer {
  margin-top: var(--space-5);
}

.imprintMainTitle {
  font-size: var(--font-size-xxl);
}

.imprintInfo {
  font-size:     var(--font-size-md);
  margin-bottom: 0;
  white-space:   nowrap;
}

.imprintInfo:nth-child(4) {
  margin-bottom: var(--space-2);
}

.imprintLegalInfo {
  font-size:     var(--font-size-sm);
  margin-bottom: var(--space-4);
}

.imprintLegalLink {
  font-size:     var(--font-size-sm);
  border-bottom: 1px solid var(--text-color-gunmetal);
  white-space:   nowrap;
}

.imprintLegalLink:hover {
  font-weight:   600;
  border-bottom: 2px solid var(--text-color-gunmetal);
}

.imprintRedirectIcon {
  vertical-align: middle;
}

.imprintSocialIconsContainer {
  margin-top: var(--space-0);
  position:   relative;
  left:       -6px;
}

.imprintEmailLink {
  font-size: var(--font-size-md);
}

.imprintEmailLink:hover {
  font-weight: 600;
}

.imprintSocialIcon {
  display:      inline-block;
  width:        14%;
  cursor:       pointer;
  margin-right: 0.6rem;
}

.imprintImage {
  width: 33.75rem;
}

@media screen and (max-width: 768px) {
  .imprintImage {
    width: 21.25rem;
  }
}

@media screen and (max-width: 480px) {
  .imprint {
    margin-bottom: 10rem;
  }

  .imprintMainTitle {
    font-size: var(--font-size-2xl);
  }

  .imprintInfo {
    font-size: var(--font-size-base);
  }

  .imprintEmailLink {
    font-size: var(--font-size-base);
  }

  .imprintImage {
    display: none;
  }
}
