
.imprint {
  min-height:     78.2vh;
  display:        flex;
  flex-direction: column;
  margin-bottom:  3rem;
}

.imprintInnerContainer {
  margin-top: var(--space-5);
  width:      60%;
}

.imprintMainTitle {
  font-size:     var(--font-size-xxl);
  margin-bottom: var(--space-0);
}

.imprintSubtitle {
  font-size:     var(--font-size-xl);
  margin-bottom: var(--space-2);
}

.contactTitle {
  font-size:     var(--font-size-lg);
  margin-bottom: var(--space-0);
}

.imprintInfo {
  font-size:     var(--font-size-md);
  margin-bottom: 0;
  white-space:   nowrap;
}

.imprintInfo:nth-child(4) {
  margin-bottom: var(--space-3);
}

.imprintLegalInfo {
  font-size:     var(--font-size-sm);
  margin-bottom: var(--space-4);
}

.imprintSocialIconsContainer {
  margin-top:    var(--space-0);
  margin-bottom: var(--space-3);
}

.imprintEmailLink {
  font-size: var(--font-size-md);
}

.imprintEmailLink:hover {
  font-weight: 600;
}

.imprintSocialIcon {
  display:      inline-block;
  cursor:       pointer;
  margin-right: 0.6rem;
}

.imprintImage {
  width:      30rem;
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .imprintInnerContainer {
    width: 100%;
  }

  .imprintImage {
    width: 24rem;
  }
}

@media screen and (max-width: 480px) {
  .imprint {
    margin-bottom: 10rem;
  }

  .imprintMainTitle {
    font-size: var(--font-size-2xl);
  }

  .imprintSubtitle {
    font-size:     var(--font-size-lg);
    margin-bottom: var(--space-1);
  }

  .contactTitle {
    font-size: var(--font-size-md);
  }

  .imprintInfo {
    font-size: var(--font-size-base);
  }

  .imprintEmailLink {
    font-size: var(--font-size-base);
  }

  .imprintLegalDisclaimer {
    font-size: var(--font-size-base);
  }

  .imprintImage {
    display: none;
  }
}
