.button {
  font-size:        var(--font-size-base);
  font-weight:      600;
  letter-spacing:   0.02rem;
  margin:           var(--space-0);
  padding:          var(--space-0) var(--space-1);
  background-color: var(--background-color-white);
  border:           2px solid var(--text-color-gunmetal);
  border-radius:    4px;
}

.button:hover {
  outline: 1px solid var(--text-color-gunmetal);
}