.buttonGroup {
  display: flex;
  position: absolute;
  top: -30px;
}

.buttonGroup__primary {
  composes: buttonGroup;
  right: 35px;
}

.buttonGroup__secondary {
  composes: buttonGroup;
  left: -24px;
}
