
.maxWidthContainer {
  composes: maxWidthDesktop from "../../assets/stylesheets/index.css";
}

.mainContentContainer {
  display:     flex;
  align-items: flex-start;
  margin:      var(--space-3) 0 9rem 0;
  padding-top: var(--space-3);
}

.movieCardContainer {
  width:        42.5rem;
  margin-right: var(--grid-column-gap);
  position:     relative;
}

.showMoreMovies {
  display:         flex;
  justify-content: end;
  margin:          8rem auto;
}

.homepageLoadingMessage {
  font-size:       var(--font-size-xxl);
  display:         flex;
  justify-content: center;
  margin:          200px 0;
}
