
.button {
  composes:       DINCondSemiBold from "../../../assets/stylesheets/index.css";

  display:        flex;
  align-items:    center;
  
  font-size:      var(--font-size-base);
  color:          var(--text-color-gunmetal);
  letter-spacing: 0.06rem;
}

.button__outlined {
  composes:      button;

  margin:        var(--space-0);
  padding:       var(--space-0) var(--space-1);

  border:        2px solid var(--text-color-gunmetal);
  border-radius: 4px;
}

.button__contained {
  composes:         button;

  margin:           var(--space-0);
  padding:          var(--space-0) var(--space-1);

  border:           2px solid var(--text-color-gunmetal);
  border-radius:    4px;

  background-color: var(--background-color-white);
  box-shadow:       4px 4px 0 var(--text-color-gunmetal);
}

.button__contained:hover {
  outline: 1px solid var(--text-color-gunmetal);
}

.buttonIcon {
  composes:     NotoEmoji from "../../../assets/stylesheets/index.css";
  font-size:    1rem;
  margin-right: 0.25rem;
}

.buttonLoadingIcon {
  position:    relative;
  top:         1px;
  margin-left: var(--space-0);
}
