
.cardMainContainer {
  display:         inline-flex;
  justify-content: space-between;
  max-width:       680px;
  position:        relative;

  padding:         0 calc(var(--space-5) - 3px) calc(var(--space-2) - 3px) calc(var(--space-4) - 3px);
  margin-bottom:   var(--space-5);
  border:          3px solid var(--text-color-gunmetal);
  border-radius:   6px;
}

.cardMainContainer:last-child {
  margin-bottom: var(--space-9);
}

.movieTitle {
  max-width: 31.2rem;
  font-size: var(--font-size-3xl);
  margin:    var(--space-4) 0 0.69rem 0;
}

.movieRating {
  position:   absolute;
  right:      var(--space-3);
  margin-top: var(--space-2);
}

.movieDetails {
  font-size: var(--font-size-base);
}

.movieDescription {
  max-width:    34.8rem;
  margin-right: var(--space-0);
}

/*.deleteMovieButton {*/
/*  align-self:       flex-start;*/
/*  padding:          4px 4px 16px 16px;*/
/*  background-color: transparent;*/
/*  border-style:     none;*/
/*  cursor:           pointer;*/
/*}*/
