
.movieCard {
  display:          flex;
  margin-top:       var(--space-5);
  padding:          0 calc(var(--space-5) - 3px) calc(var(--space-2) - 3px) calc(var(--space-4) - 3px);
  position:         relative;
  border:           3px solid var(--text-color-gunmetal);
  background-color: var(--background-color-white);
}

.movieCard:hover {
  cursor: row-resize;
}

.movieCard:last-child {
  margin-bottom: var(--space-9);
}

.movieCard:first-child {
  margin-top: 0;
}

.movieCard__open {
  composes:      movieCard;
  border-radius: 6px;
}

.movieCard__collapsed + .movieCard__collapsed {
  margin-top: calc(var(--space-5) / 2);
}

.movieCard__collapsed {
  composes:      movieCard;
  border-radius: 4px;
  opacity:       0.5;
}

.movieCard__collapsed:hover {
  background-image: radial-gradient(var(--text-color-gunmetal) 1.1px, var(--background-color-white) 1.1px);
  background-size:  44px 44px;
  opacity:          1;
}

.movieCardInner {
  display:        flex;
  flex-direction: column;
  align-items:    flex-start;
}

.movieTitle {
  max-width: 31.2rem;
}

.movieTitle__open {
  composes:  movieTitle;
  font-size: var(--font-size-3xl);
  margin:    var(--space-4) 0 0.69rem 0;
}

.movieTitle__collapsed {
  composes:  movieTitle;
  font-size: var(--font-size-xl);
  margin:    var(--space-2) 0 0 0;
}

.movieRating {
  composes:       DINCondSemiBold from "../../assets/stylesheets/index.css";
  letter-spacing: var(--letter-spacing-sm);
  position:       absolute;
  right:          var(--space-3);
  margin-top:     var(--space-2);
}

.movieDetails {
  font-size: var(--font-size-base);
  opacity:   0.78;
}

.movieYear {
  font-size:      1rem;
  letter-spacing: 0.015rem;
}

.movieDescription {
  max-width:    34.8rem;
  margin-right: var(--space-0);
}

.movieCardShadow {
  height:        100%;
  width:         42.6rem;
  z-index:       -1;
  position:      absolute;
  transform:     translate(-34px, 23px);
  border-radius: 4px;
}

.movieCardShadow__new {
  composes:         movieCardShadow;
  background-color: var(--text-color-gunmetal);
  opacity:          0.9;
}

.movieCardShadow__old {
  composes:         movieCardShadow;
  background-image: radial-gradient(var(--text-color-gunmetal) 1.1px, var(--background-color-white) 1.1px);
  background-size:  5px 5px;
  border:           2px solid var(--text-color-gunmetal);
  opacity:          0.75;
}