
.movieCard {
  max-width: 680px;
  position:  relative;
  padding:   0 calc(var(--space-5) - 3px) calc(var(--space-2) - 3px) calc(var(--space-4) - 3px);
  border:    3px solid var(--text-color-gunmetal);
}

.movieCard__open {
  composes:      movieCard;
  display:       inline-flex;
  margin:        calc(var(--space-5) / 2) 0;
  border-radius: 6px;
}

.movieCard__collapsed {
  composes:      movieCard;
  display:       flex;
  margin-bottom: var(--space-2);
  border-radius: 4px;
}

.movieCard:hover {
  cursor:           row-resize;
  background-image: radial-gradient(var(--text-color-gunmetal) 1.1px, var(--background-color-white) 1.1px);
  background-size:  44px 44px;
}

.movieCard:last-child {
  margin-bottom: var(--space-9);
}

.movieCard:first-child {
  margin-top: 0;
}

.movieCardInner {
  display:        flex;
  flex-direction: column;
  align-items:    flex-start;
}

.movieTitle {
  max-width:        31.2rem;
  background-color: var(--background-color-white);
}

.movieTitle__open {
  composes:  movieTitle;
  font-size: var(--font-size-3xl);
  margin:    var(--space-4) 0 0.69rem 0;
}

.movieTitle__collapsed {
  composes:  movieTitle;
  font-size: var(--font-size-xl);
  margin:    var(--space-2) 0 0 0;
}

.movieRating {
  position:         absolute;
  right:            var(--space-3);
  margin-top:       var(--space-2);
  background-color: var(--background-color-white);
}

.movieDetails {
  font-size:        var(--font-size-base);
  background-color: var(--background-color-white);
}

.movieDescription {
  max-width:        34.8rem;
  margin-right:     var(--space-0);
  background-color: var(--background-color-white);
}

/*.deleteMovieButton {*/
/*  align-self:       flex-start;*/
/*  padding:          4px 4px 16px 16px;*/
/*  background-color: transparent;*/
/*  border-style:     none;*/
/*  cursor:           pointer;*/
/*}*/
