
.movieCard {
  display:          flex;
  margin-top:       var(--space-5);
  padding:          0 calc(var(--space-5) - 3px) calc(var(--space-2) - 3px) calc(var(--space-4) - 3px);
  position:         relative;
  border:           3px solid var(--text-color-gunmetal);
  background-color: var(--background-color-white);
}

.movieCard:hover {
  cursor: row-resize;
}

.movieCard__cursorInitial:hover {
  cursor: initial;
}

.movieCard:nth-of-type(1) {
  margin-top: 0;
}

.movieCard__open {
  composes:      movieCard;
  min-height:    15rem;
  border-radius: 6px;
}

/* To reduce the amount of spacing between two consecutive collapsed movie cards*/
.movieCard__collapsed + .movieCard__collapsed {
  margin-top: calc(var(--space-5) / 2);
}

.movieCard__collapsed {
  composes:      movieCard;
  border-radius: 4px;
  opacity:       0.5;
}

.movieCard__collapsed:hover {
  background-image: radial-gradient(var(--text-color-gunmetal) 1.1px, var(--background-color-white) 1.1px);
  background-size:  44px 44px;
  opacity:          1;
}

.movieTitle__collapsed {
  max-width: 31.2rem;
  font-size: var(--font-size-xl);
  margin:    var(--space-2) 0 0 0;
}

.movieDetails {
  font-size: var(--font-size-base);
  opacity:   0.78;
}

.movieCardShadow {
  height:        100%;
  width:         42.6rem;
  z-index:       -1;
  position:      absolute;
  transform:     translate(-34px, 23px);
  border-radius: 4px 4px 6px 4px;
}

.movieCardShadow__new {
  composes:         movieCardShadow;
  background-color: var(--text-color-gunmetal);
  opacity:          0.9;
}

.movieCardShadow__old {
  composes:         movieCardShadow;
  background-image: radial-gradient(var(--text-color-gunmetal) 0.9px, transparent 0.9px);
  background-size:  5px 5px;
  border:           2px solid var(--text-color-gunmetal);
  opacity:          0.75;
}

.movieCardShadow_older {
  composes: movieCardShadow;
  border:   2px solid var(--text-color-gunmetal);
  opacity:  0.75;
}
