
.watchlistContainer {
  display:        flex;
  flex-direction: column;
  flex-grow:      1;

  position:       sticky;
  top:            0;
  padding-left:   var(--grid-column-gap);
  margin-left:    var(--grid-column-width);
}

.watchlistContainer__scrollDown {
  composes:    watchlistContainer;
  padding-top: var(--space-3);
}

.watchlistUsername {
  font-size: var(--font-size-lg);
  cursor:    default;
}

.watchlist {
  min-width: 8.58rem;
  font-size: var(--font-size-md);
}

.watchlistTitle {
  font-size:     var(--font-size-md);
  margin-bottom: var(--space-1);
}

.watchlistItemLabel {
  display:     inline-block;
  font-size:   var(--font-size-base);
  font-weight: 400;
}

.watchlistItemLabel:hover {
  font-weight: 600;
}

.watchlistItemLabel__selected {
  font-weight: 700;
}

.watchlistLink {
  display: inline-block;
  cursor:  pointer;
}

.watchlistLink__selected {
  background-color: var(--color-yellow-highlight-7);
  padding:          var(--space-0) 11px var(--space-0) var(--space-0);
  margin-bottom:    calc(var(--space-0) / 2);
  transition:       0.15s padding ease;
  border-radius:    2px;
}

.emoji {
  composes:     NotoEmoji from "../../assets/stylesheets/index.css";
  margin-right: var(--space-0);
}
