
.visuallyHidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.tableHeader {
  white-space: nowrap;
}